* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  padding: 50px;
  font-family: sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  font-family: inherit; /* declare the same font which is declared in body */
  font-size: inherit;
  padding: 7px 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: inset 0 0 5px #8b5c5c;
}

button {
  padding: 10px 20px;
  background-color: rgb(6, 112, 6);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}
